h1{
    text-align: center;
    font-style: italic;
}
#p1{
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: justify;
}
li a{
    font-style: italic;
}
#log2{
    padding-left: 1000px;
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
}
#img2{
    padding-left: 720px;
}
#log{
    padding-left: 50px;
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
}
h3{
    text-align: center;
}
#h5{
    font-style: italic;
    font-weight: normal;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 145, 80);
}
#p4{
    font-weight: bold;
}
#a0{
    color: black; /* links */
    text-decoration: none;
}
#a1{
    padding-left: 810px;
}
#ap1{
    font-size: 30px;
}
#h1{
    font-style: italic;
    font-weight: bold;
    color: rgb(0, 145, 80);
}
#b0{
    background-image: url(../MyProject/images/vue0.png); /* image of main page */
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#zag{
    padding-bottom: 10px;
    padding-top: 10px;
}